$primaryColor: darkorange; 
$secondaryColor: darkblue;
$accentColor: #3990c3;
$greyColor: #ccc;

$defaultFont:"Rubik", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;